@font-face {
    font-family: 'Solid Mono';
    src: url('SolidMonoRegular.eot');
    src: url('SolidMonoRegular.eot?#iefix') format('embedded-opentype'),
        url('SolidMonoRegular.woff2') format('woff2'),
        url('SolidMonoRegular.woff') format('woff'),
        url('SolidMonoRegular.ttf') format('truetype'),
        url('SolidMonoRegular.svg#SolidMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

