@font-face {
    font-family: 'City of Brussels';
    src: url('CityofBrussels.eot');
    src: url('CityofBrussels.eot?#iefix') format('embedded-opentype'),
        url('CityofBrussels.woff2') format('woff2'),
        url('CityofBrussels.woff') format('woff'),
        url('CityofBrussels.ttf') format('truetype'),
        url('CityofBrussels.svg#CityofBrussels') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

