.active-item-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);

    .active-item-container {
        position: absolute;
        top: 20%;
        left: 0;
        padding: 0;
    }

    .active-item {
        position: relative;

        h3 {
            color: #fff;
            background: #000;
            position: absolute;
            top: -35px;
            left: 0;
            font-size: 1.5em;
            padding: 2px 10px;
            font-family: "solid-mono";
        }

        img {
            width: 100%;
        }

        .active-item-description-container {
            box-shadow: 0 0 50px rgba(70, 173, 151, .8);
            background: #01271f;

            p {
                padding: 5px 10px;
            }
        }

        .close {
            position: absolute;
            top: -15px;
            right: -15px;
            width: 30px;
            height: 30px;
            border-radius: 20px;
            color: #000;
            background: #fff;
            font-family: "solid-mono";
            border: 1px solid rgba(70, 173, 151, 1);
            box-shadow: 0 0 15px rgba(255, 255, 255, .5);
            
            &:hover,
            &:active,
            &:focus {
                background: #000;
                color: #fff;
            }
        }

        .live-button {
            text-align: right;
        }

        p {
            color: #fff;
            margin-top: 10px;
            font-size: .7em;
            font-family: "solid-mono";
            margin: 0;
        }
    }
}
