.item-buttons-container {
    text-align: right;
    background: #000;
    padding: 5px;
    margin-top: 5px;

    a {
        padding: 5px;
        font-family: "solid-mono";
        font-size: .8em;
        font-weight: bold;
        text-align: center;
        margin-left: 5px;
    }

    .btn {
        background: #fff;
        color: #000;
    }

    .btn-code {
        background: #fff;
    }

    .btn-live {
        background: #fff;
    }
}