 .item-container {
     margin-top: 20px;
 }

.item {
    padding: 5px;
    margin: 5px 0;
    background: #000;

    .item-inner {
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        background: #fff;
        padding: 5px;
        border-radius: 5px;
    }

    h2 {
        font-size: .8em;
        font-weight: bold;
        font-family: "solid-mono";
        height: 1em;
        color: #fff;
        display: inline;
        border-bottom: 2px solid transparent;
    }

    p {
        color: #fff;
        margin-top: 10px;
        font-size: .7em;
        font-family: "solid-mono";
    }

    .item-text-container {
        cursor: pointer;

        &:hover {
            h2 {
                border-bottom: 2px solid rgb(229, 255, 0);
            }
        }
    }
}