.item-icon-container {
    .icon {
        height: 20px;
        margin: 5px;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            box-shadow: 0 0 10px #fff;
            background: #01271f;
        }
    }
}