.junk-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -900;

    div {
        transition: all ease-in-out 1s;
    }
 }

.junk {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -999;
    width: 100%;
    height: 100%;
    background-size: cover;
}

