.name-plate-container {
    text-align: center;
    padding: 0;
    margin-top: 300px;

    h1 {
        background: #000;
        color: #fff;
        font-family: "city-of-brussels", sans-serif;
        font-size: 4em;
        padding: 15px 5px 0;
    }
}
