.search-textbox-container {
    text-align: center;
    background: #000;
    margin-top: 5px;
    padding: 5px 0;

    label {
        color: #fff;
        font-family: "solid-mono";
        font-size: .8em;
        text-align: right;
        line-height: 1em;
        vertical-align: middle;
        padding: 0;
        margin: 0;
    }

    .search-textbox-input-container {
        line-height: 1em;
        vertical-align: middle;
    }

    input {
        font-family: "solid-mono";
        font-size: .8em;
        border: none;
        background: #000;
        color: #fff;
        border-bottom: 2px solid #fff;
        outline: none;
        margin-left: -30px;
        width: 100%;
    }
}